# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.*
*.egg-info/
dist/
build/

# SQLite / локальные артефакты
*.sqlite3
*.db
*.db-journal

# Node / фронтенд
node_modules/
.cache/
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Логи
*.log
logs/
